/* *{ */
  /* margin: 0; */
  /* padding: 0; */
  /* font-family: sans-serif; */
/* } */
body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}
/* header */
header{
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  right: 0;
  padding: 13px 15px;
  background-color: #ffcece;
  justify-content: space-between;
}
.logo-icon img{
  width: auto;
  height: auto;
  max-width: 50;
  max-height: 50;
  padding-left: 50;
  filter: drop-shadow(0px 0px 5px rgb(255,255,255));
}
.logo {
  font-weight: 600;
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin: auto;
  margin-left: 2%;
  width: auto;
  text-decoration: none;
  color: inherit;
}
.navbar{
  display: flex; 
  list-style-type: none;
}
.navbar a{
  color: inherit;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
  text-decoration: none;
}
.navbar a:hover{
  color: white;
  transition: .4s;
  /* transform: scale(1.2) translateX(-12px); */
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: #e35029a3;
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn:hover{
  transform: scale(1.2) translateY(1px);
  transition: .4s;
}

/* Home */
.home{
  min-height: 95vh;
  /* height: 95vh; */
  background-color: #ecb3d342;
  display: grid;
  align-items: center;
}
.home-text h2{
  text-align: center;
}
.home-text p{
  text-align: center;
  font-size: 20px;
}

/* Protfolio */
.pflo{
  background-color: #ecb3d342;
  height: 90vh;
  display: grid;
}
.pflo-text{
  font-size: 15px;
  text-align: left;
  padding: 80px 20px 5px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 360px;
}
.card{
  height: 330px;
  width: 280px;
  padding: 15px;
  border: 2px solid #e350295e;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
}

.card h5{
  font-size: 23px;
  margin-bottom: 15px;
}
.card p{
  font-size: 20px;
  margin-bottom: 25px;
}
.btn-pf{
  margin-top: 125px;
}

/* Contact */
.cta{
  background-color: #ecb3d342;
  height: 90vh;
  display: grid;
  align-items: center;
}
.cta-text{
  /* background-color: #ff7c0036; */
  padding: 70px 0;
  text-align: center;
  width: 60%;
  margin: auto;
  border: 3px solid #e350295e;
  border-radius: 10px;
}

/* .btn{ */
  /* display: inline-block; */
  /* padding: 10px 20px; */
  /* color: blue; */
  /* border-radius: 0.5rem; */
/* } */
/* .btn:hover{ */
  /* transform: scale(1.2) translateY(5px); */
  /* transition: .4s; */
/* } */